<div class="row">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Users
			</div>
			<div class="panel-body">
				<% if @users.empty? == false %>
				<%= will_paginate @users %>

				<% @users.each do |l| %>
					<div class="row">
						<div class="col-md-2">
							<p><%= l.name %></p>
							<p><%= l.email %></p>
							<p><%= l.role %></p>
						</div>
					</div>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>