<div class="intro">
  <h1>Cloudwatch</h1>
  <p class="lead"> Whatever you are planning, Cloudwatch will help you by providing you with weather forecasting that you can rely on.</p>
  <p>
      Planning what to do for the day but it depends on the weather ?  Planning a barbeque for the weekend if it's not raining ?
  </p>
</div>