
<div class="widget todays-forecast col-md-4">
  <div class="widget-box inner">
    <div class="highlight text-center">Todays Forecast</div>
    <div class="results">
      <p class="lead text-center">For <%= forecast.location %></p>
      <p>Summary: <%= forecast.currently.summary %></p>
      <i class="wi wi-forecast-io-<%= forecast.currently.icon %>"></i> 
      <p>Temperature: <%= forecast.currently.temperature %></p>
    </div>
  </div>
</div>